@model Attendance_Performance_Control.Models.Result

@{
    ViewData["Title"] = "Eliminar Resultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div>
        <a class="icone pt-3 pl-3" title="Voltar" asp-action="Index">
            <i class="fa fa-2x fa-arrow-circle-left"></i>
        </a>
    </div>
<div class="col-md-4 offset-md-4 p-2 pt-5">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    <h3 class="m-t">Tem a certeza que quer eliminar resultado registado em @Model.Data.ToShortDateString() - @Model.NumberOfResults @Model.Type.ResultTypeName (s),
    por @Model.User.FullName ? </h3>
    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
    </div>
</div>
