@model ApplicationUser
@{
    ViewData["Title"] = "Confirmar Utilizador";
}


<div class="row">
    <div class="col-md-4 offset-md-4 p-2">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <p style="font-size: 14px">
            Esta página serve para confirmar o registo de utilizador. Apos de confirmação utilizador
            registado vai receber o email de confirmação do registo e pode começar utilizar a aplicação.
        </p>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <h5 class="pt-3">Primeiro Nome</h5>
        @Html.DisplayFor(model => model.FirstName)
        <h5 class="pt-3">Segundo Nome</h5>
        @Html.DisplayFor(model => model.LastName)
        <h5 class="pt-3">Email</h5>
        @Html.DisplayFor(model => model.Email)
        <h5 class="pt-3">Nº Telemóvel</h5>
        @Html.DisplayFor(model => model.PhoneNumber)
        <h5 class="pt-3">Cargo</h5>
        @Html.DisplayFor(model => model.Occupation)
        <form method="post">
            <form method="post">
                <button type="submit" class="btn btn-primary mt-4" asp-action="Confirm" asp-route-Id="@Model.Id">Confirmar</button>
            </form>
        </form>

    </div>
</div>